<nav id="submenu" *ngIf="home">
    <ul>
        <li>
            <div class="center-icon">
                <mat-icon id="create_new_folder" aria-hidden="false" aria-label="create_new_folder"
                    fontIcon="create_new_folder"></mat-icon>
            <a id="matButton" mat-raised-button  (click)="openHorarioDialog()" >Nuevo Horario</a>
            </div>
        </li>
        <li>
            <div class="center-icon">
                <mat-icon id="folder_open" aria-hidden="folder_open" aria-label="folder_open"
                    fontIcon="folder_open"></mat-icon>
            <a id="matButton" mat-raised-button (click)="verHorarios()">Ver horarios</a>
            </div>
        </li>
       
    </ul>
</nav>

<nav id="submenu" *ngIf="horario">
    <ul>
        <li>
            <div class="center-icon">
                <mat-icon id="create_new_folder" aria-hidden="false" aria-label="create_new_folder"
                    fontIcon="create_new_folder"></mat-icon>
            <a id="matButton" mat-raised-button  (click)="irCrearHorario()" >Nuevo Horario</a>
            </div>
        </li>
        <li>
            <div class="center-icon">
                <mat-icon id="folder_open" aria-hidden="folder_open" aria-label="folder_open"
                    fontIcon="folder_open"></mat-icon>
            <a id="matButton" mat-raised-button (click)="verHorarios()">Mostrar todo</a>
            </div>
        </li>
       
    </ul>
</nav>



<nav class="center" id="submenu" *ngIf="especificacion">
    <ul>
        <li>
            <div class="center-icon">
                <mat-icon id="book" aria-hidden="false" aria-label="book"
                    fontIcon="book"></mat-icon>
            <a [routerLink]="['asignaturas']" [routerLinkActive]="['active']">Asignaturas</a>
            </div>
        </li>
        <li>
            <div class="center-icon">
                <mat-icon id="meeting_room" aria-hidden="meeting_room" aria-label="meeting_room"
                    fontIcon="meeting_room"></mat-icon>
            <a [routerLink]="['aulas']" [routerLinkActive]="['active']">Aulas</a>
            </div>
        </li>
        <li>
            <div class="center-icon">
                <mat-icon id="person" aria-hidden="false" aria-label="person"
                    fontIcon="person"></mat-icon>
            <a [routerLink]="['profesores']" [routerLinkActive]="['active']">Profesores</a>
            </div>
        </li>
        <li>
            <div class="center-icon">
                <mat-icon id="supervised_user_circle" aria-hidden="false" aria-label="supervised_user_circle"
                    fontIcon="supervised_user_circle"></mat-icon>
            <a [routerLink]="['usuarios']" [routerLinkActive]="['active']">Usuarios</a>
            </div>
        </li>
    </ul>
    
</nav>


<div class="center">

    <router-outlet></router-outlet>
</div>

<div class="clearfix"></div>

