<div id="articlesAsignatura" *ngIf="asignaturas">

    <nav id="submenu">
        <ul>
            <li>
                <div class="center-icon">
                    <mat-icon>library_add</mat-icon>
                    <a id="matButton" mat-raised-button
                        [routerLink]="['/especificacion/asignaturas/crearAsignatura']">Nueva
                        Asignatura</a>
                </div>
            </li>
            <li>
                <div class="center-icon">
                    <mat-icon>collections_bookmark</mat-icon>

                    <a id="matButton" mat-raised-button (click)="allAsignaturas()">Mostrar todo</a>
                </div>
            </li>
        </ul>
    </nav>
    <h2 class="Subheader" id="listasTitulo">Lista de Asignaturas</h2>
    <div id="busquedaAsignatura">
        <h2 sty>Buscador</h2>
        <input id="buscadorAsignatura" [(ngModel)]="terminoBusquedaAsignatura" type="text"
            placeholder="Buscar por nombre, profesor, carrera, periodo, horario o creditos" (input)="filtrarAsignaturas()">
            
    </div>
        <div id="matselectBusquedaAsignatura" >
            <mat-form-field id="matselectCarrera">
                <mat-label >Seleccionar Carrera</mat-label>
                <mat-select [(ngModel)]="selectedCarrera" (selectionChange)="filtrarAsignaturas()" >
                    <mat-option [value]="'Todas'">Todas</mat-option>
                    <mat-option *ngFor="let carrera of carreras" [value]="carrera">{{ carrera }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field id="matselectSemestre" >
                <mat-label>Seleccionar periodo</mat-label>
                <mat-select [(ngModel)]="selectedSemestre" (selectionChange)="filtrarAsignaturas()">
                    <mat-option [value]="'Todas'">Todas</mat-option>
                    <mat-option *ngFor="let semestre of semestres" [value]="semestre">{{ semestre }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field id="matselectCarrera">
                <mat-label >Seleccionar horario</mat-label>
                <mat-select [(ngModel)]="selectedHorario" (selectionChange)="filtrarAsignaturas()" >
                    <mat-option [value]="'Todas'">Todas</mat-option>
                    <mat-option  [value]="'Nocturno'">Nocturno</mat-option>
                    <mat-option  [value]="'Diurno'">Diurno</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        
    <div class="mat-elevation-z8 tablaDocentesResumen">
        <table mat-table [dataSource]="asignaturasFiltrados">

            <ng-container matColumnDef="N°">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let item; let i = index">{{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let item" >{{item.nombre}} <strong *ngIf="item.paralelo && item.paralelo.length >0">paralelo ({{item.paralelo}})</strong> </td>
            </ng-container>

            <ng-container matColumnDef="Carrera">
                <th mat-header-cell *matHeaderCellDef>Carrera</th>
                <td [matTooltip]="item.carrera" mat-cell *matCellDef="let item"> {{item.carrera.length > 1 ?
                    item.carrera.slice(0,1)+ '...(' + (item.carrera.length)+ ')' : item.carrera }}</td>
            </ng-container>

            <ng-container matColumnDef="Periodo">
                <th mat-header-cell *matHeaderCellDef>Periodo</th>
                <td [matTooltip]="item.horario === 'Nocturno' ? 'Semestre: ' + item.semestre + ' Ciclo: ' + item.ciclo : (item.carrera[0] === 'Inglés' ? 'Nivel: ' + item.semestre : 'Semestre: ' + item.semestre)"    mat-cell *matCellDef="let item">
                   
                    <ng-container *ngIf="item.horario === 'Nocturno' && !item.carrera.includes('Inglés')">
                        {{item.semestre.length > 1 ?
                            item.semestre.slice(0,1)+ '...(' + (item.semestre.length)+ ')' : item.semestre }} semestre
                    </ng-container>
                    <ng-container *ngIf="item.horario === 'Nocturno' && !item.carrera.includes('Inglés')"><br>
                        {{item.ciclo.length > 1 ?
                            item.ciclo.slice(0,1)+ '...(' + (item.ciclo.length)+ ')' : item.ciclo }} Ciclo
                    </ng-container>
                    <ng-container *ngIf="item.horario === 'Diurno' && !item.carrera.includes('Inglés')">
                        {{item.semestre.length > 1 ?
                            item.semestre.slice(0,1)+ '...(' + (item.semestre.length)+ ')' : item.semestre }} Semestre
                    </ng-container>

                    <ng-container *ngIf="item.carrera[0] === 'Inglés' || item.carrera[0].toLowerCase() === 'ingles'">
                        {{item.semestre.length > 1 ?
                            item.semestre.slice(0,1)+ '...(' + (item.semestre.length)+ ')' : item.semestre }} Nivel
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="Profesor">
                <th mat-header-cell *matHeaderCellDef>Profesor</th>
                <td mat-cell *matCellDef="let item">{{item.profesor[0].nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="Horario">
                <th mat-header-cell *matHeaderCellDef>Horario</th>
                <td mat-cell *matCellDef="let item">{{item.horario}}</td>
            </ng-container>
            <ng-container matColumnDef="Creditos">
                <th mat-header-cell *matHeaderCellDef>Creditos</th>
                <td mat-cell *matCellDef="let item">{{item.creditos}}</td>
            </ng-container>

            <ng-container matColumnDef="Color">
                <th mat-header-cell *matHeaderCellDef>Color</th>
                <td mat-cell *matCellDef="let item" style="background-color: {{item.color}};">{{item.color}}</td>
            </ng-container>


            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button color="warn" (click)="delete(item._id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <a mat-icon-button color="primary"
                        [routerLink]="['/especificacion/asignaturas/editarAsignatura', item._id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
        <mat-paginator #paginatorAs [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Seleccione la pagina de asignaturas">
        </mat-paginator>
    </div>

    <div id="articlesAsignatura" class="loading" *ngIf="!asignaturas">
        cargando...
    </div>

    <div id="articlesAsignatura" class="loading" *ngIf="asignaturas && asignaturas.length === 0">
        No hay asignaturas para mostrar, intentalo mas tarde
    </div>

</div>