<!-- <div cdkDropListGroup>

  <h2>Materias</h2>
  <div cdkDropList [cdkDropListData]="listaA" class="cdkdrop-list" (cdkDropListDropped)="drop($event)">
    <div class="cdkdrag-box" *ngFor="let item of listaA; let i=index" cdkDrag>{{item}}</div>
  </div>
  <div class="boxTable">
    <table>
      <thead>
        <tr>
          <th>Horario</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of hours">
          <td>{{ hour }}</td>
          <td cdkDropList [cdkDropListData]="getDayData(0, hour)" (cdkDropListDropped)="drop($event)" id="0-{{ hour }}" >
            <div class="cdkdrag-box" *ngFor="let item of getDayData(0, hour); let i=index" cdkDrag >{{ item  }}</div>
          </td>
          <td cdkDropList [cdkDropListData]="getDayData(1, hour)" (cdkDropListDropped)="drop($event)" id="1-{{ hour }}">
            <div class="cdkdrag-box" *ngFor="let item of getDayData(1, hour); let i=index" cdkDrag>{{ item }}</div>
          </td>
          <td cdkDropList [cdkDropListData]="getDayData(2, hour)" (cdkDropListDropped)="drop($event)" id="2-{{ hour }}">
            <div class="cdkdrag-box" *ngFor="let item of getDayData(2, hour); let i=index" cdkDrag>{{ item }}</div>
          </td>
          <td cdkDropList [cdkDropListData]="getDayData(3, hour)" (cdkDropListDropped)="drop($event)" id="3-{{ hour }}">
            <div class="cdkdrag-box" *ngFor="let item of getDayData(3, hour); let i=index" cdkDrag>{{ item }}</div>
          </td>
          <td cdkDropList [cdkDropListData]="getDayData(4, hour)" (cdkDropListDropped)="drop($event)" id="4-{{ hour }}">
            <div class="cdkdrag-box" *ngFor="let item of getDayData(4, hour); let i=index" cdkDrag>{{ item }}</div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="clearfix"></div> -->
<!-- <div cdkDropListGroup class="mat-elevation-z2 ">
  <mat-grid-list cols="2" rowHeight="1:1">
    <div>
    <mat-grid-tile>
      <h2>Materias</h2>
      <div cdkDropList [cdkDropListData]="listaA" class="cdk-drop-list" (cdkDropListDropped)="drop($event)">
        <div id="listMaterias" class="cdk-drag-box mat-elevation-z1" *ngFor="let item of listaA; let i=index" cdkDrag>
          {{item}}</div>
      </div>
    </mat-grid-tile>
  </div>
    <mat-grid-tile>
      <h2>Horario</h2>
      <div class="box-table mat-elevation-z2">
        <table class="mat-table">
          <thead>
            <tr class="mat-header-row">
              <th class="mat-header-cell">Horario</th>
              <th class="mat-header-cell">Lunes</th>
              <th class="mat-header-cell">Martes</th>
              <th class="mat-header-cell">Miércoles</th>
              <th class="mat-header-cell">Jueves</th>
              <th class="mat-header-cell">Viernes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hour of hours" class="mat-row">
              <td class="mat-cell">{{ hour }}</td>
              <td cdkDropList [cdkDropListData]="getDayData(0, hour)" (cdkDropListDropped)="drop($event)"
                id="0-{{ hour }}" class="mat-cell cdk-drop-list">
                <div class="cdk-drag-box mat-elevation-z1" *ngFor="let item of getDayData(0, hour); let i=index"
                  cdkDrag>{{ item }}</div>
              </td>
              <td cdkDropList [cdkDropListData]="getDayData(1, hour)" (cdkDropListDropped)="drop($event)"
                id="1-{{ hour }}" class="mat-cell cdk-drop-list">
                <div class="cdk-drag-box mat-elevation-z1" *ngFor="let item of getDayData(1, hour); let i=index"
                  cdkDrag>{{ item }}</div>
              </td>
              <td cdkDropList [cdkDropListData]="getDayData(2, hour)" (cdkDropListDropped)="drop($event)"
                id="2-{{ hour }}" class="mat-cell cdk-drop-list">
                <div class="cdk-drag-box mat-elevation-z1" *ngFor="let item of getDayData(2, hour); let i=index"
                  cdkDrag>{{ item }}</div>
              </td>
              <td cdkDropList [cdkDropListData]="getDayData(3, hour)" (cdkDropListDropped)="drop($event)"
                id="3-{{ hour }}" class="mat-cell cdk-drop-list">
                <div class="cdk-drag-box mat-elevation-z1" *ngFor="let item of getDayData(3, hour); let i=index"
                  cdkDrag>{{ item }}</div>
              </td>
              <td cdkDropList [cdkDropListData]="getDayData(4, hour)" (cdkDropListDropped)="drop($event)"
                id="4-{{ hour }}" class="mat-cell cdk-drop-list">
                <div class="cdk-drag-box mat-elevation-z1" *ngFor="let item of getDayData(4, hour); let i=index"
                  cdkDrag>{{ item }}</div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->


<!-- <div>
  <h2>Materias</h2>
  <div cdkDropListGroup class="mat-elevation-z2 ">
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <div cdkDropList [cdkDropListData]="listaA" class="cdk-drop-list" (cdkDropListDropped)="drop($event)">
          <div id="listMaterias" class="cdk-drag-box mat-elevation-z1" *ngFor="let item of listaA; let i=index" cdkDrag>
            {{item}}
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <h2>Horario</h2>
        <div class="box-table mat-elevation-z2">
          <table class="mat-table">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell">Horario</th>
                <th class="mat-header-cell">Lunes</th>
                <th class="mat-header-cell">Martes</th>
                <th class="mat-header-cell">Miércoles</th>
                <th class="mat-header-cell">Jueves</th>
                <th class="mat-header-cell">Viernes</th>
              </tr> -->


<!-- AULAS -->

<!-- <mat-grid-tile class="mat-grid-tile-aulas listaAulas" rowspan="2">
        <h2 class="h2Materias">Aulas</h2>
        <div cdkDropList [cdkDropListData]="aulas" class="cdk-drop-list" (cdkDropListDropped)="drop($event)">
          <div style="background-color: {{aula.color}};" id="listaAulas" class="cdk-drag-box mat-elevation-z1"
            *ngFor="let aula of aulas; let i=index" cdkDrag>
            {{aula.nombre }}
          </div>
        </div>
      </mat-grid-tile> -->

<!-- Itera a través de la lista de asignaturas -->

<nav id="submenuHorario">
  <ul>
    <li>
      <div class="center-icon">
        <mat-icon id="save" aria-hidden="false" aria-label="save" fontIcon="save"></mat-icon>
        <a mat-raised-button>Guardar</a>
      </div>
    </li>
    <li>
      <div class="center-icon">
        <mat-icon id="local_printshop" aria-hidden="false" aria-label="local_printshop"
          fontIcon="local_printshop"></mat-icon>
        <a mat-raised-button [routerLink]="['Salir']" [routerLinkActive]="['active']" clic>Imprimir</a>
      </div>
    </li>
  </ul>
</nav>


<div class="boxcontentHorario" *ngIf="is_Diurno">
  <div cdkDropListGroup class="mat-elevation-z2 ">
    <mat-grid-list cols="10" rowHeight="2:10" class="CajaHorario">
      <mat-grid-tile class="mat-grid-tile-materias listaMaterias" rowspan="2">
        <h2 class="h2Materias">Asignaturas</h2>
        <div cdkDropList [cdkDropListData]="asignaturas" class="cdk-drop-list" (cdkDropListDropped)="drop($event)">
          <ng-container *ngFor="let asignatura of asignaturas; let i=index ">
            <ng-container *ngFor="let profesor of asignatura.profesor; let j=index">
              <div style="background-color: {{asignatura.color}};" id="{{'materia-' + i + '-' + j}}"
                class="cdk-drag-box mat-elevation-z1 listArrastre" cdkDrag>
                {{asignatura.nombre}} <br>
                <strong>Profesor: </strong> {{ profesor.nombre }}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile-materias listaAulas" rowspan="2">
        <h2 class="h2Materias">Aulas</h2>
        <div cdkDropList [cdkDropListData]="aulas" class="cdk-drop-list" (cdkDropListDropped)="drop($event)">
          <ng-container *ngFor="let aula of aulas; let i=index ">
            <div style="background-color: {{aula.color}};" id="{{'aula-' + i }}"
              class="cdk-drag-box mat-elevation-z1 listArrastre" cdkDrag>
              {{aula?.nombre}}
            </div>
          </ng-container>
        </div>
      </mat-grid-tile>


      <mat-grid-tile class="tablaHorario" colspan="1">
        <div class="box-table mat-elevation-z2">
          <h2>Horario Diurno</h2>
          <table class="mat-table">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell">Horario</th>
                <th class="mat-header-cell">Lunes</th>
                <th class="mat-header-cell">Martes</th>
                <th class="mat-header-cell">Miércoles</th>
                <th class="mat-header-cell">Jueves</th>
                <th class="mat-header-cell">Viernes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hour of hours" class="mat-row">
                <td class="mat-cell">{{ hour.split('-')[0] }} - {{hour.split('-')[1]}}</td>
                <td cdkDropList [cdkDropListData]="getDayData(0, hour)" (cdkDropListDropped)="drop($event)"
                  id="0-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(0, hour); let i=index" cdkDrag>{{ item.nombre }} 
                  </div>
                </td>
                <td cdkDropList [cdkDropListData]="getDayData(1, hour)" (cdkDropListDropped)="drop($event)"
                  id="1-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(1, hour); let i=index" cdkDrag>{{ item.nombre }}</div>
                </td>
                <td cdkDropList [cdkDropListData]="getDayData(2, hour)" (cdkDropListDropped)="drop($event)"
                  id="2-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(2, hour); let i=index" cdkDrag>{{ item.nombre }} </div>
                </td>
                <td cdkDropList [cdkDropListData]="getDayData(3, hour)" (cdkDropListDropped)="drop($event)"
                  id="3-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(3, hour); let i=index" cdkDrag>{{ item.nombre }}</div>
                </td>
                <td cdkDropList [cdkDropListData]="getDayData(4, hour)" (cdkDropListDropped)="drop($event)"
                  id="4-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(4, hour); let i=index" cdkDrag>{{ item.nombre }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<!-- Nocturno -->

<div class="boxcontentHorario" *ngIf="!is_Diurno">
  <div cdkDropListGroup class="mat-elevation-z2 ">
    <mat-grid-list cols="10" rowHeight="2:10" class="CajaHorario">
      <mat-grid-tile class="mat-grid-tile-materias listaMaterias" rowspan="2">
        <h2 class="h2Materias">Asignaturas</h2>
        <div cdkDropList [cdkDropListData]="asignaturas" class="cdk-drop-list" (cdkDropListDropped)="drop($event)">
          <ng-container *ngFor="let asignatura of asignaturas; let i=index">
            <ng-container *ngFor="let profesor of asignatura.profesor; let j=index">
              <div style="background-color: {{asignatura.color}};" id="listMaterias"
                class="cdk-drag-box mat-elevation-z1" cdkDrag>
                {{asignatura.nombre}} <br>
                <strong>Profesor: </strong> <br> {{ profesor.nombre }} <br>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="mat-grid-tile-materias listaMaterias" rowspan="2">
        <h2 class="h2Materias">Aulas</h2>
        <div cdkDropList [cdkDropListData]="asignaturas" class="cdk-drop-list" (cdkDropListDropped)="drop($event)">
          <div style="background-color: {{aula.color}};" id="listMaterias" class="cdk-drag-box mat-elevation-z1"
            *ngFor="let aula of aulas; let i=index" cdkDrag>
            {{aula.nombre }}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="tablaHorario" colspan="2">
        <div class="box-table mat-elevation-z2">
          <h2>Horario Vespertino</h2>
          <table class="mat-table">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell">Horario</th>
                <th class="mat-header-cell">Lunes</th>
                <th class="mat-header-cell">Martes</th>
                <th class="mat-header-cell">Miércoles</th>
                <th class="mat-header-cell">Jueves</th>
                <th class="mat-header-cell">Viernes</th>
                <th class="mat-header-cell">Sabado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hour of hoursnight" class="mat-row">
                <td class="mat-cell">{{ hour.split('-')[0] }} - {{hour.split('-')[1]}}</td>
                <td cdkDropList [cdkDropListData]="getDayData(0, hour)" (cdkDropListDropped)="drop($event)"
                  id="0-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(0, hour); let i=index" cdkDrag>{{ item.nombre }} <br>
                  </div>
                </td>
                <td cdkDropList [cdkDropListData]="getDayData(1, hour)" (cdkDropListDropped)="drop($event)"
                  id="1-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(1, hour); let i=index" cdkDrag>{{ item.nombre }}</div>
                </td>
                <td cdkDropList [cdkDropListData]="getDayData(2, hour)" (cdkDropListDropped)="drop($event)"
                  id="2-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(2, hour); let i=index" cdkDrag>{{ item.nombre }} </div>
                </td>
                <td cdkDropList [cdkDropListData]="getDayData(3, hour)" (cdkDropListDropped)="drop($event)"
                  id="3-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(3, hour); let i=index" cdkDrag>{{ item.nombre }}</div>
                </td>
                <td cdkDropList [cdkDropListData]="getDayData(4, hour)" (cdkDropListDropped)="drop($event)"
                  id="4-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(4, hour); let i=index" cdkDrag>{{ item.nombre }}</div>
                </td>
                <td cdkDropList [cdkDropListData]="getDayData(5, hour)" (cdkDropListDropped)="drop($event)"
                  id="5-{{ hour }}" class="mat-cell cdk-drop-list">
                  <div style="background-color: {{item.color}};" class="cdk-drag-box mat-elevation-z1"
                    *ngFor="let item of getDayData(5, hour); let i=index" cdkDrag>{{ item.nombre }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="clearfix"></div>