<div id="articlesAula" *ngIf="aulas">
    <nav id="submenu">
        <ul>
            <li>
                <div class="center-icon">
                    <mat-icon>add_home</mat-icon>
                    <a id="matButton" mat-raised-button [routerLink]="['/especificacion/aulas/crearAula']">Nueva
                        Aula</a>
                </div>
            </li>
            <li>
                <div class="center-icon">
                    <mat-icon>location_city</mat-icon>
                    <a id="matButton" mat-raised-button (click)="allAulas()">Mostrar todo</a>
                </div>
            </li>

        </ul>
    </nav>
    <h2 class="Subheader" id="listasTitulo">Lista de aulas</h2>
    <div id="busquedaHorario">
        <h2 sty>Buscador</h2>
        <input id="buscadorHorario" [(ngModel)]="terminoBusquedaAula" type="text"
            placeholder="Buscar por nombre, ubicación, abreviatura..." (input)="filtrarAulas()">
    </div>
    <div class="mat-elevation-z8 tablaDocentesResumen">
        <table mat-table [dataSource]="aulasFiltrados">

            <ng-container matColumnDef="N°">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let item; let i = index">{{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let item">{{item.nombre}}</td>
            </ng-container>

            <ng-container matColumnDef="Ubicacion">
                <th mat-header-cell *matHeaderCellDef>Ubicacion</th>
                <td mat-cell *matCellDef="let item">{{item.ubicacion}}</td>
            </ng-container>
            <ng-container matColumnDef="Abreviatura">
                <th mat-header-cell *matHeaderCellDef>Abreviatura</th>
                <td mat-cell *matCellDef="let item">{{item.abreviatura}}</td>
            </ng-container>
            <ng-container matColumnDef="Compartida">
                <th mat-header-cell *matHeaderCellDef>Compartida</th>
                <td mat-cell *matCellDef="let item">{{item.compartida}}</td>
            </ng-container>
            <ng-container matColumnDef="Color">
                <th mat-header-cell *matHeaderCellDef>Color</th>
                <td mat-cell *matCellDef="let item" style="background-color: {{item.color}};">{{item.color}}</td>
            </ng-container>


            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button color="warn" (click)="delete(item._id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <a mat-icon-button color="primary" [routerLink]="['/especificacion/aulas/editarAula', item._id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
        <mat-paginator #paginatorA [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Seleccione la pagina de aulas">
        </mat-paginator>
    </div>

    <div id="articlesAula" class="loading" *ngIf="!aulas">
        cargando...
    </div>

    <div id="articlesAula" class="loading" *ngIf="aulas && aulas.length == 0">
        No hay aulas para mostrar, intentalo mas tarde
    </div>

</div>