<div>
    <!--  <article id="{{profesor._id}}" class="article-item" *ngFor="let profesor of profesores">
         <h2>{{profesor.nombre}} </h2>
         <span>
             <p><strong>Contrato:</strong> {{profesor.contrato }}</p>
             <p><strong>Cargo:</strong> {{profesor.cargo }}</p>
         </span>
         <p><strong>Area: </strong>{{profesor.area}} </p>
         <div class="action-button">
             <a class="btn btn-warning" [routerLink]="['/especificacion/profesores/editarProfesor', profesor._id]">Editar</a>
             <button class="btn btn-danger" (click)="delete(profesor._id)">Eliminar</button>
         </div>
     </article> -->

    <nav id="submenu">
        <ul>
            <li>
                <div class="center-icon">
                    <mat-icon>person_add</mat-icon>
                    <a id="matButton" mat-raised-button
                        [routerLink]="['/especificacion/profesores/crearProfesor']">Nuevo Profesor</a>
                </div>
            </li>
            <li>
                <div class="center-icon">
                    <mat-icon id="people icon" aria-hidden="people icon" aria-label="people icon"
                        fontIcon="people icon"></mat-icon>
                    <a id="matButton" mat-raised-button (click)="allProfesores()">Mostrar Profesores</a>
                </div>
            </li>
            <li>
                <div class="center-icon">
                    <mat-icon>library_books</mat-icon>
                    <a id="matButton" mat-raised-button (click)="resumenProfesores()">Resumen Profesores</a>
                </div>
            </li>
        </ul>
    </nav>
    <h2 class="Subheader" id="listasTitulo">Resumen de profesores</h2>


    <nav id="submenuResumenProfesores">
        <ul>
            <li>
                <div class="center-icon">
                    <mat-icon id="local_printshop" aria-hidden="false" aria-label="local_printshop"
                        fontIcon="local_printshop"></mat-icon>
                    <a mat-raised-button (click)="exportarPDF()">Exportar PDF</a>
                </div>
            </li>
            <li>
                <div class="center-icon">
                    <mat-icon id="local_printshop" aria-hidden="false" aria-label="local_printshop"
                        fontIcon="local_printshop"></mat-icon>
                    <a mat-raised-button (click)="exportarExcel()">Exportar Excel</a>
                </div>
            </li>
            <li>
                <div class="center-icon">
                    <mat-form-field>
                        <mat-label>Seleccionar Profesor</mat-label>
                        <mat-select [(ngModel)]="profesorSeleccionado">
                            <mat-option value="todos">Todos</mat-option>
                            <!-- Agrega esta línea para la opción "Todos" -->
                            <mat-option *ngFor="let profesor of carrerasFiltradas" [value]="profesor">{{ profesor.nombre
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </li>

            <li>
                <div class="center-icon">
                    <mat-icon id="local_printshop" aria-hidden="false" aria-label="local_printshop"
                        fontIcon="local_printshop"></mat-icon>
                    <a mat-raised-button (click)="getProfesorSeleccionadoRPdf()">Exportar Horario Profesor PDF</a>
                </div>
            </li>
            <li>
                <div class="center-icon">
                    <mat-icon id="local_printshop" aria-hidden="false" aria-label="local_printshop"
                        fontIcon="local_printshop"></mat-icon>
                    <a mat-raised-button (click)="getProfesorSeleccionadoRExcel()">Exportar Horario Profesor EXCEL</a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="mat-elevation-z8 tablaDocentesResumen">
        <table mat-table [dataSource]="asignaturasPorProfesorTiempoCompleto">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef colspan="5"
                    style="color: white;text-align: center; font-size: 16px; background-color: rgb(9, 123, 230);">
                    Profesores
                    Tiempo Completo</th>
            </ng-container>

            <!-- Columna de nombres de profesores -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre del Profesor</th>
                <td mat-cell *matCellDef="let profesor">
                    {{ profesor.profesornombre }}
                </td>
            </ng-container>

             <!-- Columna de asignaturas -->
             <ng-container matColumnDef="asignaturas">
                <th mat-header-cell *matHeaderCellDef>Asignaturas</th>
                <td mat-cell *matCellDef="let profesor">
                    <ng-container *ngFor="let asignatura of profesor.asignaturas; let last = last">

                        {{ asignatura.asignatura }} 
                        <ng-container *ngIf="asignatura.horario === 'Nocturno' && !asignatura.carrera.includes('Ingles')">
                        {{'('+asignatura.semestre+' Ciclo' +' - '+asignatura.carrera+ ' - ' +
                        
                        asignatura.horario+')'}}
                    </ng-container>
                    <ng-container *ngIf="asignatura.horario === 'Diurno' && !asignatura.carrera.includes('Ingles') ">
                        {{'('+asignatura.semestre+ ' Semestre'+' - '+asignatura.carrera+ ' - ' +
                        
                        asignatura.horario+')'}}
                    </ng-container>

                    <ng-container *ngIf="asignatura.carrera === 'Ingles'">
                        {{'('+asignatura.semestre+ ' Nivel'+' - '+asignatura.carrera+ ' - ' +
                        
                        asignatura.horario+')'}}
                    </ng-container>

                        <mat-divider class="custom-divider" *ngIf="!last"></mat-divider>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Columna de horas por asignatura -->
            <ng-container matColumnDef="N° Horas">
                <th mat-header-cell *matHeaderCellDef>N° Horas</th>
                <td mat-cell *matCellDef="let profesor; let i = index">
                    <ng-container *ngFor="let asignatura of profesor.asignaturas; let last = last">
                        {{ asignatura.horas }}
                        <mat-divider class="custom-divider" *ngIf="!last"></mat-divider>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="Total Horas">
                <th mat-header-cell *matHeaderCellDef>Total de Horas</th>
                <td mat-cell *matCellDef="let profesor">
                    <!-- Cálculo de la suma de las horas -->
                    <ng-container *ngIf="profesor.asignaturas.length > 0; else noHoras">
                        {{ getSumaHoras(profesor.asignaturas) }}
                    </ng-container>
                    <ng-template #noHoras>
                        0
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="Observación">
                <th mat-header-cell *matHeaderCellDef>Observación</th>
                <td mat-cell *matCellDef="let profesor">
                  <ng-container *ngIf="editingProfesor !== profesor; else editMode">
                    {{ profesor.profesorObservacion }}
                    <button mat-icon-button color="primary" (click)="startEditing(profesor)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </ng-container>
                  <ng-template #editMode>
                    <input type="text" [(ngModel)]="profesor.profesorObservacion" />
                    <button mat-icon-button color="primary" (click)="saveObservation(profesor)">
                      <mat-icon>check</mat-icon>
                    </button>
                  </ng-template>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="['title']"></tr>
            <!-- Encabezados de columna -->
            <tr mat-header-row *matHeaderRowDef="['nombre', 'asignaturas', 'N° Horas', 'Total Horas','Observación' ]">
            </tr>

            <!-- Filas de datos -->
            <tr mat-row
                *matRowDef="let asignatura; index as i; columns: ['nombre', 'asignaturas', 'N° Horas', 'Total Horas','Observación']">
            </tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Seleccione la pagina del resumen de profesores">

        </mat-paginator>
    </div>

    <div class="mat-elevation-z8 tablaDocentesResumen">
        <table mat-table [dataSource]="asignaturasPorProfesorMedioTiempo">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef colspan="5"
                    style="color: white;text-align: center; font-size: 16px; background-color: rgb(9, 123, 230);">
                    Profesores Medio Tiempo</th>
            </ng-container>

            <!-- Columna de nombres de profesores -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre del Profesor</th>
                <td mat-cell *matCellDef="let profesor">
                    {{ profesor.profesornombre }}
                </td>
            </ng-container>

             <!-- Columna de asignaturas -->
             <ng-container matColumnDef="asignaturas">
                <th mat-header-cell *matHeaderCellDef>Asignaturas</th>
                <td mat-cell *matCellDef="let profesor">
                    <ng-container *ngFor="let asignatura of profesor.asignaturas; let last = last">

                        {{ asignatura.asignatura }} 
                        <ng-container *ngIf="asignatura.horario === 'Nocturno' && !asignatura.carrera.includes('Ingles')">
                        {{'('+asignatura.semestre+' Semestre' +' - '+asignatura.ciclo+' Ciclo' +' - '+asignatura.carrera+ ' - ' +
                        
                        asignatura.horario+')'}}
                    </ng-container>
                    <ng-container *ngIf="asignatura.horario === 'Diurno' && !asignatura.carrera.includes('Ingles') ">
                        {{'('+asignatura.semestre+ ' Semestre'+' - '+asignatura.carrera+ ' - ' +
                        
                        asignatura.horario+')'}}
                    </ng-container>

                    <ng-container *ngIf="asignatura.carrera === 'Ingles'">
                        {{'('+asignatura.semestre+ ' Nivel'+' - '+asignatura.carrera+ ' - ' +
                        
                        asignatura.horario+')'}}
                    </ng-container>

                        <mat-divider class="custom-divider" *ngIf="!last"></mat-divider>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Columna de horas por asignatura -->
            <ng-container matColumnDef="N° Horas">
                <th mat-header-cell *matHeaderCellDef>N° Horas</th>
                <td mat-cell *matCellDef="let profesor; let i = index">
                    <ng-container *ngFor="let asignatura of profesor.asignaturas; let last = last">
                        {{ asignatura.horas }}
                        <mat-divider class="custom-divider" *ngIf="!last"></mat-divider>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="Total Horas">
                <th mat-header-cell *matHeaderCellDef>Total de Horas</th>
                <td mat-cell *matCellDef="let profesor">
                    <!-- Cálculo de la suma de las horas -->
                    <ng-container *ngIf="profesor.asignaturas.length > 0; else noHoras">
                        {{ getSumaHoras(profesor.asignaturas) }}
                    </ng-container>
                    <ng-template #noHoras>
                        0
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="Observación">
                <th mat-header-cell *matHeaderCellDef>Observación</th>
                <td mat-cell *matCellDef="let profesor">
                  <ng-container *ngIf="editingProfesor !== profesor; else editMode">
                    {{ profesor.profesorObservacion }}
                    <button mat-icon-button color="primary" (click)="startEditing(profesor)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </ng-container>
                  <ng-template #editMode>
                    <input type="text" [(ngModel)]="profesor.profesorObservacion" />
                    <button mat-icon-button color="primary" (click)="saveObservation(profesor)">
                      <mat-icon>check</mat-icon>
                    </button>
                  </ng-template>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="['title']"></tr>
            <!-- Encabezados de columna -->
            <tr mat-header-row *matHeaderRowDef="['nombre', 'asignaturas', 'N° Horas', 'Total Horas','Observación' ]">
            </tr>

            <!-- Filas de datos -->
            <tr mat-row
                *matRowDef="let asignatura; index as i; columns: ['nombre', 'asignaturas', 'N° Horas', 'Total Horas','Observación']">
            </tr>
        </table>
        <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Seleccione la pagina del resumen de profesores">

        </mat-paginator>
    </div>

    <div class="mat-elevation-z8 tablaDocentesResumen">
        <table mat-table [dataSource]="asignaturasPorProfesorTiempoParcial">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef colspan="5"
                    style="color: white;text-align: center; font-size: 16px; background-color: rgb(9, 123, 230);">
                    Profesores
                    Tiempo Parcial</th>
            </ng-container>

            <!-- Columna de nombres de profesores -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre del Profesor</th>
                <td mat-cell *matCellDef="let profesor">
                    {{ profesor.profesornombre }}
                </td>
            </ng-container>

            <!-- Columna de asignaturas -->
            <ng-container matColumnDef="asignaturas">
                <th mat-header-cell *matHeaderCellDef>Asignaturas</th>
                <td mat-cell *matCellDef="let profesor">
                    <ng-container *ngFor="let asignatura of profesor.asignaturas; let last = last">

                        {{ asignatura.asignatura }} 
                        <ng-container *ngIf="asignatura.horario === 'Nocturno' && !asignatura.carrera.includes('Ingles')">
                        {{'('+asignatura.semestre+' Semestre' +' - '+asignatura.ciclo+' Ciclo' +' - '+asignatura.carrera+ ' - ' +
                        
                        asignatura.horario+')'}}
                    </ng-container>
                    <ng-container *ngIf="asignatura.horario === 'Diurno' && !asignatura.carrera.includes('Ingles') ">
                        {{'('+asignatura.semestre+ ' Semestre'+' - '+asignatura.carrera+ ' - ' +
                        
                        asignatura.horario+')'}}
                    </ng-container>

                    <ng-container *ngIf="asignatura.carrera === 'Ingles'">
                        {{'('+asignatura.semestre+ ' Nivel'+' - '+asignatura.carrera+ ' - ' +
                        
                        asignatura.horario+')'}}
                    </ng-container>

                        <mat-divider class="custom-divider" *ngIf="!last"></mat-divider>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Columna de horas por asignatura -->
            <ng-container matColumnDef="N° Horas">
                <th mat-header-cell *matHeaderCellDef>N° Horas</th>
                <td mat-cell *matCellDef="let profesor; let i = index">
                    <ng-container *ngFor="let asignatura of profesor.asignaturas; let last = last">
                        {{ asignatura.horas }}
                        <mat-divider class="custom-divider" *ngIf="!last"></mat-divider>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="Total Horas">
                <th mat-header-cell *matHeaderCellDef>Total de Horas</th>
                <td mat-cell *matCellDef="let profesor">
                    <!-- Cálculo de la suma de las horas -->
                    <ng-container *ngIf="profesor.asignaturas.length > 0; else noHoras">
                        {{ getSumaHoras(profesor.asignaturas) }}
                    </ng-container>
                    <ng-template #noHoras>
                        0
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="Observación">
                <th mat-header-cell *matHeaderCellDef>Observación</th>
                <td mat-cell *matCellDef="let profesor">
                  <ng-container *ngIf="editingProfesor !== profesor; else editMode">
                    {{ profesor.profesorObservacion }}
                    <button mat-icon-button color="primary" (click)="startEditing(profesor)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </ng-container>
                  <ng-template #editMode>
                    <input type="text" [(ngModel)]="profesor.profesorObservacion" />
                    <button mat-icon-button color="primary" (click)="saveObservation(profesor)">
                      <mat-icon>check</mat-icon>
                    </button>
                  </ng-template>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="['title']"></tr>
            <!-- Encabezados de columna -->
            <tr mat-header-row *matHeaderRowDef="['nombre', 'asignaturas', 'N° Horas', 'Total Horas','Observación' ]">
            </tr>

            <!-- Filas de datos -->
            <tr mat-row
                *matRowDef="let asignatura; index as i; columns: ['nombre', 'asignaturas', 'N° Horas', 'Total Horas','Observación']">
            </tr>
        </table>
        <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Seleccione la pagina del resumen de profesores">

        </mat-paginator>
    </div>


</div>